.profileImage {
  border-radius: 2rem;
}

.profile-div {
  position: absolute;
  top: 50px;
  width: 100%;
  background-color: #f4fcd9;
}
.profile-main-div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 97%;
  border-radius: 2rem;
  flex-direction: row;
  margin: 30px 1.5%;
  background-color: #c5d8a4;
  padding-top: 10px;
  padding-bottom: 10px;
}
.profile-main-div-name {
  width: 50%;
  display: flex;
  padding-left: 20px;
}
.profile-main-div-image {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding-right: 5vw;
}
.profile-main {
  display: flex;
  margin: 30px 1.5%;
  justify-content: space-between;
}
.profile-main-desc {
  width: 55%;
  border-radius: 2rem;
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  background-color: #c5d8a4;
}
.profile-main-info {
  width: 40%;
  font-size: 1.3rem;
  border-radius: 2rem;
  display: flex;
  padding: 1.5rem;
  background-color: #c5d8a4;
}
.downloadPara {
  font-size: 18px;
}
details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}
@keyframes sweep {
  0% {
    opacity: 0;
    margin-top: -10px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: #fcfcfc;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
@media only screen and (max-width: 600px) {
  .profile-main-div,
  .profile-main {
    flex-direction: column-reverse;
  }
  .profile-main-div-name,
  .profile-main-div-image,
  .profile-main-desc,
  .profile-main-info {
    width: 100%;
    justify-content: center;
  }
}
